body .container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.2;
  word-wrap: break-word;
}

.adventure-name {
  font-size: 24px;
  margin: 4px 10px;
  font-weight: bold;
}

.adventure-author {
  font-size: 16px;
  margin: 4px 10px;
  font-style: italic;
}

.adventure-description {
  font-size: 16px;
  margin: 4px 10px;
}

.adventure-blurb {
  font-size: 14px;
  line-height: 1.2;
  margin-left: 20px;
  margin-bottom: 30px;
}

pre {
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

